.container{
    height:100vh;
    width:100%;
    align-items: baseline;
}


.controller{
    position:relative;
    width: 27%;
    max-width:fit-content;
    align-items:normal;
    height:40%;
    display:block;
    margin:0px auto;
    transition:3s;
    margin-left: 30%;
    
}
.controller:hover{
    transform:scale(1.05);
    cursor:pointer;
}

.controller2{
    position:relative;
    width:100%;
    min-height:27px;
    max-height:100px;
    align-items: center;
}

.inner_header{
    width:100%;
    display:block;
    background-color: rgba(24, 131, 106, 0.268);
    font-size:350%;
    text-align: left;
    font-style:normal;
    font-family:'Courier New', Courier, monospace;
    font-stretch: expanded;
    margin:0 auto;
    transition:3s;
    background-size:auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}

.inner_header:hover{
    transform:scale(1.05);
}
.controller3{
    width:100%;
    min-width:70%;
    align-items:normal;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.controller1{
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.controller6{
    width:100%;
    height:50px;
    font-size:30px;
    margin:auto;
}

.controller8{
    font-size:30px;
}

.wrapper-main{
    width:192vh;
    padding:10px 0;
    margin:0px auto;
}

.controller4{
    width:100%;
    height:50px;
    margin:auto;
}



.controller4 h1{
    font-size:60px;
    text-align:left;
    width:100%;
    min-width:70%;
    max-height:250px;
    max-zoom:0.5;
    font-family: 'Courier New', Courier, monospace;
}

.controller4 img{
    margin-inline: 0%;
}

footer{
    width:100%;
    position:absolute;
    height: 100px;
    bottom:0;
    text-align: left;
    right:0;
    left:0;
    background:goldenrod; 
    font-size:50px;
}



*{
    padding:0;
    margin:0;
    background-color:rgba(69, 99, 96, 0);
    background-size:auto;
}
.comment-box{
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(, -50%);
    width:200px;

}

.comment-box h2{
    font-size:30px;
    margin-bottom:10px;

}

.comment-box input{
    width:100%;
    height:25px;
    padding:0 20px;
    margin-bottom:10px;
    border-radius:7px;
    border:1px solid #559da8;
}

.comment-box input:focus{
    border:1px soild #559d;
    outline:0;
}

.comment-box textarea{
    width:100%;
    height:150px;
    padding:15px 20px;
    margin-bottom:10px;
    border-radius:7px;
    border:1px solid #559da8;
}

.comment-box textarea : focus{
    border:1px solid #559d;
    outline:0;
}


.comment-box button{
    border:0;
    padding:10px 30px;
    background:#86b0b6;
    font-size:15px;
    border-radius:7px;
    color:#fff;
}

.comment-box button hover{
    background-color:#44aa56
}

.outside{
    font-size:100px;
    position:relative;
    left:10%;
}

@media screen and (max-width:1000px){
    .wrapper-main{
        width:100%;
        background-color:rgb(238, 239, 240);
    }
    h1{
        font-size:calc(1rem+2.0rem);
    }
    h3{
        --fs-xl:5rem;
        --fs-600:1.5rem;
        --fs-500:1.25rem;
        --fs-400:1rem;
    }
    .inner_header{
        width:300%;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    .controller3{
        width:300%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        overflow:scroll;
    }
    .controller4{
        width:300%;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    .controller1{
        width:300%;
        
    }
   
    
}

@media screen and (min-width:400px){
    .wrapper-main{
        width:100%;
        background-color:rgba(232, 229, 229, 0.002);
        
    }
    .inner_header{
        width:300%;
    }
   
    
}